<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Task List</title>
    <link href= "/public/css/index.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <header>
        <h1>Task List</h1>
        <form id="new-task-form" action="/" method="POST">
            <input 
                type="text" 
                id="newTaskInput"
                name="newTaskInput"
                autofocus="autofocus"
                placeholder="What do you have planned?"
                />
            <input 
                type="submit" 
                id="new-task-submit"
                value="Add task" />
        </form>
    </header>
    <main>
        <section class="task-list">
            <h2>Tasks</h2>
            <div id="tasks">
                <% if (tasks) { %>
                    <% for (var i = 0; i < tasks.length; i++) { %>
                        <div class="task">
                            <div class="content">
                                    <div class="description">
                                        <span><%= tasks[i].task %></span>
                                    </div>
                                    <div class="meta">
                                        <span class="creator"><%= tasks[i].creator %></span> - <span class="creationDate"><%= tasks[i].created %></span>
                                    </div>
                                
                    
                            </div>
                            <div class="actions">
                                <form method="POST" action="/<%= tasks[i].id %>/delete">
                                    <button class="delete-btn"></button>
                                </form>
                            </div>
                        </div>
                    <% } %>     
                <% } %>
            </div>
        </section>
    </main>
</body>
</html>